@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=RocknRoll+One&display=swap');
*{
  padding: 0px;
  margin: 0px;
  /* background: #fcfcfc; */
  font-family: "Istok Web",sans-serif;}

  li{
    cursor: pointer;
  }
  .hun, .pop{
    font-family: "RocknRoll One",sans-serif!important;
  }